body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(202, 197, 197);
}

.bookList{
    /* height: 19.5rem;
     */
     
    width: 16rem;
    background-color: rgb(167, 221, 221);
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    /* display: flex; */
    gap: 2rem;
}

.AllComp{
    display: flex;
    flex-flow: wrap;
}
/* @media screen and (min-width: 768px) {
    .bookList{
        grid-template-columns: repeat(3,1fr);
    }
} */

img{
    height: 15rem;
    width: 15rem;
}